@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {margin: 0; padding: 0; font-family: 'Libre Franklin', sans-serif;}
a {text-decoration: none;}

:root {
    --defaultColor: #55A2A6;
    --defaultBlack: #151515;
    --lightBlack: #333;
    --darkerBlack: #111;
    --lightBlack2: #444;
    --defaultGray: #ccc;
    --darkerGray: #b2b2b2;
}

html {
    scroll-behavior: smooth;
}

body, 
nav,
main, 
main > section,
footer,
.features a,
.features > blockquote,
.about > section > article
 {
    display: flex;
    flex-direction: column;
}

h1, h3 {
    text-transform: capitalize;
}

h1 {
    color: var(--darkerBlack);
}

h2 {
    text-transform: uppercase;
    color: white;
}

h3 {
    color: var(--darkerBlack);
}


@media (min-width: 250px) {

    nav ul {
        display: none;
    }

    nav aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--defaultBlack);
        color: white;
        padding: 1vh 0;
    }

    nav h2 {
        padding-left: 5vh;
    }

    details {
        position: absolute;
        width: 95%;
        text-align: right;
        padding-right: 5%;
    }

    details ul {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--defaultBlack);
    }

    details li {
        display: flex;
    }

    details a {
        color: white;
        width: 100%;
        padding: 3%;
    }

    summary {
        font-size: 24px;
    }

    header {
        background-image: url(/images/banner-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40vh;
    }

    header > article {
        background-color: rgba(50, 50, 50, 0.5);
        width: 100%;
        height: 100%;
    }
     
    .features {
        padding: 2vh 0;
    }

    .features > blockquote {
        background-color: var(--defaultColor);
        text-align: center;
        padding: 2vh 20%;
        color: white;
        font-size: 20px;
        line-height: 1.5;
    }

    .features cite {
        font-style: normal;
    }

    .features > article {
        display: flex;
        flex-direction: column;
        row-gap: 10vh;
        text-align: center;
        padding: 5vh 0;
    }

    .features a {
        align-items: center;
        row-gap: 2vh;
        color: var(--darkerBlack);
    }

    .features i{
        font-size: 60px;
    }

    .features h3 {
        width: 30%;
    }

    .features p {
        color: var(--lightBlack);
        font-weight: 500;
    }

    .about {
        padding: 5%;
        row-gap: 5vh;
    }

    .about > article {
        display: flex;
        column-gap: 1vh;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .about aside {
        width: 100%;
        display: flex;
        border: 4px solid var(--defaultGray);
    }

    .about > article h3 {
        width: 80%;
        text-align: center;
    }

    .about section {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .about section article {
        row-gap: 3vh;
    }

    .about p {
        line-height: 1.5;
        color: var(--lightBlack2);
        font-size: 12px;
    }

    .about a {
        width: 25%;
        background-color: var(--defaultColor);
        color: white;
        padding: 1%;
    }
    
    .about blockquote {
        border-left:10px solid var(--defaultColor);
        padding-left: 5vh;
        line-height: 1.5;
        font-style: italic;
        font-size: 20px;
        color: var(--lightBlack2);
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        width: 80%;
    }

    .about q {
        font-family: serif;
    }

    .about cite {
        color: var(--defaultColor);
        font-family: 'Times New Roman', Times, serif;
    }

    footer {
        border-top: 5px solid var(--defaultColor);
    }

    footer > section {
        background-color: var(--lightBlack);
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        padding: 6vh 2vh;
    }

    footer > section > article {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    footer h3 {
        color: var(--defaultGray);
        text-transform: uppercase;
        font-weight: 500;
    }

    footer aside {
        display: flex;
        column-gap: 2vh;
    }

    footer a {
        border: 2px solid var(--darkerGray);
        border-radius: 50%;
        width: 5vh;
        height: 5vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer i {
        color: var(--darkerGray);
        font-size: 20px;

    }

    footer > section p {
        color: var(--darkerGray);
    }

    form {
        display: flex;
    }

    input {
        border: none;
        padding: 1.5vh;
        color: var(--lightBlack2);
    }

    /* [class*="fa-"] {   } => contain */
    
    [type="email"] {
        background-color: var(--lightBlack2);
        width: 40%;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    [type="submit"] {
        background-color: var(--darkerGray);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        font-weight: 600;
    }



    footer > article {
        background-color: var(--darkerBlack);
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
        color: var(--lightBlack);
        padding: 2vh;
        font-size: 14px;
    }

    strong {
        color: var(--darkerGray);
        font-weight: 400;
    }
}

@media (min-width: 600px) {
    nav > aside {
        display: none;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2% 1%;
    }

    nav > ul {
        display: flex;
        column-gap: 3vh;
        padding-right: 2%;
    }

    nav > ul li {
        list-style: none;
    }

    nav > ul a {
        color: var(--defaultBlack);
    }
    nav > ul a:hover {
        color: var(--defaultColor);
    }

    header {
        height: 60vh;
    }

    .features > blockquote {
        flex-direction: row;
        padding: 2% 10%;
    }

    .features > article {
        flex-direction: row;
        justify-content: center;
    }

    .features h3 {
        width: 70%;
    }

    .about > article h3 {
        width: 40%;
    }

    .about > section {
        flex-direction: row;
        column-gap: 5vh;
    }

    .about a {
        width: 40%;
        text-align: center;
    }

    .about blockquote {
        width: 90%;
    }

}
